@media (min-width: 600px) and (max-width: 900px) {
  .container {
    height: 240em;
  }

  .btn {
    width: 120px;
  }
  .main_header {
    width: 70%;
    top: 180px;
  }
  .about-container {
    padding: 50px;
    height: 32em;
  }
  .about-content {
    padding-left: 30px;
  }
  .about-title {
    font-size: 30px;
  }
  .about-desc {
    height: 11.8vh;
    overflow: scroll;
  }
  .check-list {
    display: none;
  }
  .container-video {
    height: 80px;
    width: 80px;
    right: 10px;
  }
  .material-symbols-outlined {
    font-size: 50px;
  }
  .container-btn-about {
    padding-top: 0;
  }

  /* act */
  .act-container {
    padding: 0 50px;
    padding-top: 50px;
    height: 34em;
  }
  .container-form {
    padding: 0 50px;
    top: 250px;
  }
  .counter-container {
    padding: 0 50px;
    padding-top: 20px;
  }
  .form-content {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 22px;
    height: 87%;
  }
  .register-container {
    height: 40em;
  }
  .title-act {
    font-size: 24px;
  }
  .footer {
    padding: 50px;
  }
  .social-container h2 {
    font-size: 20px;
  }
  .social-link {
    font-size: 18px;
    padding: 10px;
  }
  .social-container {
    padding: 0 20px;
  }
  .social-link {
    width: 40%;
  }
  .newsletter-container {
    display: none;
  }
  /* envent */
  .even-container {
    padding: 50px;
    display: block;
    height: 56em;
  }
  .event-component {
    display: block;
  }
  .event-desc {
    width: 100%;
    height: 80%;
  }
  .event-img {
    width: 100%;
    display: flex;
    justify-content: center; /* Sử dụng justify-content để căn giữa nội dung */
    align-items: center; /* Căn giữa theo chiều dọc */
  }

  .event-img-main {
    position: relative; /* Đảm bảo phần tử có vị trí tương đối nếu cần */
    margin: 0 auto;
    margin-top: 120px;
    width: 70%;
    height: auto; /* Đặt chiều cao tự động nếu cần */
  }
  .skills-buttons {
    padding: 0 100px;
  }

  .event-img-sub {
    right: 100px;
    bottom: 70px;
  }
}
